engine-strict=true
# https-proxy=http://proxy.etisalat.corp.ae:8080
# proxy=http://proxy.etisalat.corp.ae:8080
# registry=http://ajmaicdst.etisalat.corp.ae:8081/repository/npm-group/
# npmRegistryServer=http://ajmaicdst.etisalat.corp.ae:8081/repository/npm-group/
